* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.kassa-qr {
  margin-top: 20px;
}

.spinner-loading {
  margin-top: 40px;
}

.kassa-content {
  background: #FFFFFF;
  border-radius: 20px;
  width: 480px;
  height: 560px;
  margin: 0 auto;
}

.kassa-title {
  padding-top: 144px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.kaspi-svg {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  text-align: center;
  margin-top: 11px;
  font-weight: 500;
}

.price {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
}

.kaspi-qr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.text2 {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 20px;
}

.elements-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.content3 {
  margin-top: 20px;
}

.content4 {
  padding-bottom: 60px;
}

.ckeck-ok {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content4-svg {
  padding-top: 60px;
  display: flex !important;
  align-items: center;
  justify-content: center !important;
}

.content4-title {
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.content2,.content3, content4{
  display: none;
}







